.header {
  padding: var(--spacing-200);
}

.wrapper {
  margin: 0 auto;
  max-width: var(--layout-app-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 185px;

  @media (min-width: 600px) {
    max-width: 100%;
  }
}

.themeButton {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  border: none;
  font-family: inherit;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;

  background-color: var(--color-neutral-100);
  border-radius: var(--radius-6);
  transition: 220ms all ease-in-out;

  @media (min-width: 600px) {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: var(--radius-8);
  }
}

.themeButton:hover {
  background-color: var(--color-neutral-200);
}
