/* .wrapper {
  margin: 0 auto;
  max-width: var(--layout-app-max-width);
} */
.main {
  max-width: var(--layout-app-max-width);
  margin: 0 auto;
  padding-block-end: var(--spacing-300);
}

.title {
  margin-block: var(--spacing-500);
  font-size: var(--font-size-2xl);
  text-align: center;
}
